:root{
    text-align: center;
    align-items: center;
}
.hero-image{
    background-image: url(image/blog\ 3.7.jpg);
    height: fit-content;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
body {
    font-family: 'DynaPuff', cursive;
     margin: 0px;
     /* background-image: linear-gradient(red,yellow,blue);
     background-repeat: no-repeat; */
     
    }

header{
    text-decoration: solid;
    background-color: #e9eef2;
    margin: 0px;
    padding: 1px;
    box-shadow: 1px 1px 4px black;
}
section{
    margin: 0px;   
}

.instruction{
 
}
.userInput{

}
input{
    border-radius: 2px;
    border: 2px solid rgb(0, 0, 0);
    height: 30px;
    width: 10%;
    text-size-adjust: 25px;
    
}
button{
    background-color: rgb(33, 36, 13);
    color: #e9eef2;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    margin: 5px;
}
button:active{
    background-color: #e9eef2;
    color:rgb(33, 36, 13) ;
}